#CodePage{
    justify-content: flex-start;
    gap: 1rem;
    .textContainer{
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 2rem auto;
    
        gap: 1rem;
    
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .codeContainer{
        width:100%;
        padding-left:1rem;
        padding-right:1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    
        & .react-code-input{
            width:100%;
            display: flex !important;
            justify-content: space-around;
            align-items: center;
    
    
            // TODO : Style the inputs for laptop display sizes (make it not width based ?)
            // BUG : The font sizes is hidden by the input border sometimes :/
            // NOTE : Is the keyboard input overlapping the inputs ? :/
            & input{
                width:12vw;
                text-align: center;
                height: 18vw;
    
                font-size: 28 * 0.0625rem;
                font-weight: bold;
                font-family: "Monument-Regular";
    
                background: transparent;
                color:var(--onBackgroud-color);
                border:.15rem solid var(--primary-color);
                outline: none;
    
                &:focus{
                    box-shadow: 0 0 0 .2rem var(--primary-color);
                }
            }
        }
    }
}
