.knob-popup{
    &-L{
        &-enter{
            opacity: 0;
            transform: translateX(-100%);
        }
        &-enter-active{
            opacity: 1;
            transform: translateX(0);
            transition: all 0.2s ease-in-out;
        }
        &-exit{
            opacity: 1;
            transform: translateX(0);
        }
        &-exit-active{
            opacity: 0;
            transform: translateX(-100%);
            transition: all 0.2s ease-in-out;
        }
    }
    &-R{
        &-enter{
            opacity: 0;
            transform: translateX(100%);
        }
        &-enter-active{
            opacity: 1;
            transform: translateX(0);
            transition: all 0.2s ease-in-out;
        }
        &-exit{
            opacity: 1;
            transform: translateX(0);
        }
        &-exit-active{
            opacity: 0;
            transform: translateX(100%);
            transition: all 0.2s ease-in-out;
        }
    }
    &-V{
        &-enter{
            opacity: 0;
            transform: translateY(-100%);
        }
        &-enter-active{
            opacity: 1;
            transform: translateY(0);
            transition: all 0.2s ease-in-out;
        }
        &-exit{
            opacity: 1;
            transform: translateY(0);
        }
        &-exit-active{
            opacity: 0;
            transform: translateY(-100%);
            transition: all 0.2s ease-in-out;
        }
    }
}