.knob-popup{
    &-enter{
        opacity: 0;
        transform: translateX(-100%);
    }
    &-enter-active{
        opacity: 1;
        transform: translateX(0);
        transition: all 0.2s ease-in-out;
    }
    &-exit{
        opacity: 1;
        transform: translateX(0);
    }
    &-exit-active{
        opacity: 0;
        transform: translateX(-100%);
        transition: all 0.2s ease-in-out;
    }
}