div.totemParametersContainer {
	height: 100%;
}

div#totemParameters {
	border-radius: var(--medium-radius);
	background-color: lighten(#222222, 5);
	border: 1px solid lighten(#222222, 15);
	box-shadow: var(--close-shadow);

	padding: var(--default-padding) calc(2 * var(--default-padding));
	margin: var(--default-padding) 0;

	height: fill-available;

	transition: all 0.2s ease-in-out;
	&:hover {
		border-color: lighten(#222222, 25);
		box-shadow: var(--farthest-shadow);
		transition: all 0.2s ease-in-out;
		& h3 {
			color: var(--onBackground-color) !important;
			transition: all 0.2s ease-in-out;
		}
	}
	& div.parametersContainer {
		& div.parameters {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			padding: var(--default-padding);
			margin: var(--default-padding);
			gap: var(--default-padding);
		}
	}
}
