.header{
    position: absolute;

    width:100dvw;
    text-align: center;

    height: var(--header-height);
    padding: 0 var(--default-padding);

    // horizontal center
    display: flex;
    justify-content: center;
    align-items: center;
}