:root {  
    --black-color: hsl(239, 55%, 5%);
    --white-color: #ededed;
    --grey-color: hsl(239, 5%, 55%);
    --lightGrey-color: hsl(239, 5%, 85%);

    --blue-color-500: hsl(239, 55%, 55%);
}

.darkTheme {
    --background-color: var(--black-color);
    --onBackgroud-color: var(--white-color);
    --onSurface-color: var(--white-color);
    --primary-color: var(--blue-color-500);
}

.lightTheme {
    --background-color: var(--white-color);
    --onBackgroud-color: var(--black-color);
    --surface-color: var(--lightGrey-color);
    --onSurface-color: var(--black-color);
}
/////////////////////////////////////////////////
// Theme colors list
/////////////////////////////////////////////////
/// Background
/// Surface
/// On Background
/// On Surface
/// Primary
/// Secondary
/// Error
/// Warning
/// Info
/// Success
/// Text
/// On Primary
/// On Secondary
/// On Error
/// On Warning
/// On Info
/// On Success
/// On Text
/// Disabled
/// On Disabled
/// Hint
/// On Hint
/// Divider
/// On Divider
/// Link
/// On Link
/// Action
/// On Action
/// Hover
/// On Hover
/// Selected
/// On Selected
/// Dragged
/// On Dragged
/// Placeholder
/// On Placeholder
/// Shadow
/// On Shadow