.btn {
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	background: var(--primary-color);
	color: var(--onBackground-color);
	box-shadow: var(--close-shadow);
	border: none;
	outline: none;
	border-radius: var(--medium-radius);
	position: relative;

	cursor: pointer;

	&.onlyIcon {
		flex-direction: column;
		justify-content: center;
		&__icon,
		&__label {
			padding: 1ch;
		}
	}

	&.outlined {
		background: transparent;
		border: 1px solid var(--primary-color);
		color: var(--primary-color);
	}

	&__icon,
	&__text {
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
	}

	transition: transform 0.3s ease-in-out;
	&:active {
		transform: scale(0.9) !important;
		transition: all 0.2s ease-in-out !important;
	}
	&:hover {
		transition: all 0.2s ease-in-out;
		box-shadow: var(--farthest-shadow);
		transform: scale(1.08);
	}
}
