#knobPage{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background : transparentize(black, .7);
    backdrop-filter: blur(5px);
    z-index:2;

    position: absolute;
    top:0;
    left:0;
    
    padding: var(--default-padding);

    height: 100dvh;
    width: 100dvw;

    .knobContainer{
        position:relative;
        width:100%;
        height:50%;
        & .knobValueContainer{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

        
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            & .knobValue{
                width:3ch;
                position:relative;
                text-align:end;
                &::after{
                    content:"%";
                    color: var(--onBackgroud-color);
                    font-size: 50%;
                    position: absolute;
                    top:0;
                    right:-1ch;
                }
            }
            & .knobValueLabel{
                text-align: end;
                width:50%;
            }
        }

        & .knob{
            position: absolute !important;
            top:50%;
            right:-50dvw;
            transform: translateY(-50%);
        }
    }
}