#knobPage{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background : transparentize(black,.7);
    backdrop-filter: blur(5px);
    position: absolute;
    z-index:2;

    position: absolute;
    top:0;
    left:0;
    
    align-items: center;

    padding: var(--default-padding);

    height: 100dvh;
    width: 100dvw;
    

    .knobContainer{
        width:150vw;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:1rem;

        & .knobValueContainer{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            & .knobValue{
                width:3ch;
                position:relative;
                text-align:end;
                &::after{
                    content:"%";
                    color: var(--onBackgroud-color);
                    font-size: 50%;
                    position: absolute;
                    top:0;
                    right:-1ch;
                }
            }
            & .knobValueLabel{
                text-align: end;
            }
        }

        & .knob{
            width:100vw;
            height:auto;
            max-width:400px;
        }
    }
}