#knobPage{
    display:flex;
    flex-direction: column;
    justify-content: space-around;

    .knobContainer{
        width:150vw;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:1rem;

        & .knobValueContainer{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            & .knobValue{
                width:3ch;
                position:relative;
                text-align:end;
                &::after{
                    content:"%";
                    color: var(--onBackgroud-color);
                    font-size: 50%;
                    position: absolute;
                    top:0;
                    right:-1ch;
                }
            }
            & .knobValueLabel{
                text-align: end;
            }
        }

        & .knob{
            width:100vw;
            height:auto;
            max-width:400px;
        }
    }
}